[package]

name = "rxinu"
version = "0.1.0"
authors = [ "robert.w.gries@gmail.com" ]

[lib]
crate-type = ["staticlib"]

[dependencies]
multiboot2 = "0.3.1"

[dependencies.x86]
version = "0.8.0"
default-features = false

[target.'cfg(target_arch = "x86")'.dependencies]
arch_i686 = { path = "arch/x86/i686" }

[target.'cfg(target_arch = "x86_64")'.dependencies]
arch_x86_64 = { path = "arch/x86/x86_64" }

# The development profile, used for `cargo build`.
[profile.dev]
panic = "abort"

# The release profile, used for `cargo build --release`.
[profile.release]
panic = "abort"
